/*csslint ids: false*/

body {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 2%;
  position: relative;
}

.middle-part {
  padding: 7% 0 7% 0;
}

h1 {
  padding-top: 10%;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #000;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-weight: bolder;
  font-size: 3rem;
  color: #000;
  padding-bottom: 15%;
  margin-bottom: 0;
}

h3 {
  padding-bottom: 3%;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #ff7b54;
}

.h3-profile {
  padding: 10% 20%;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: gray;
  padding-bottom: 10px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: #fff;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
}

/* HEADER */

#header {
  background: linear-gradient(45deg, #ec4646 0 53%, #efefef 53% 100%);
  text-align: center;
}

.header-point {
  color: #ec4646;
  font-weight: bold;
}

.logo {
  height: 70px;
  display: flex;
}


.nav-link {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.nav-item {
  color: #ec4646;
  padding: 0 10px;
  font-weight: 200;
}

.nav-item:hover {
  color: #ec4646;
  padding: 0 10px;
  font-weight: bold;
}

.nav-item:hover{
  color: #ec4646;
}


/* PROFILE */

#profile {
  padding: 3% 5% 10% 0%;
  /* padding-bottom: 10%;
  padding-right: 5%; */
}

.profile-img {
  margin-bottom: 3%;
}

.paragraph-profile {
  color: #fff;
  background-color: #000;
  line-height: 2;
  font-weight: 500;
  padding: 3%;
}

.profile-span {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-weight:300;
  font-size: 1.3rem;
}



/* WORK HISTORY */

#experience {
  padding: 10% 0 10% 7%;
  background-color: #f2f2f2;
}

.line-experience {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 2.2rem;
  padding-top: 25%;
}

/* SKILLS */

#skills {
  padding: 10% 7% 0 5%;
  line-height: 1.5;
}


.skill-row {
  margin: auto;
  padding: 5%;
  text-align: left;
}

.webdev-img {
  float: left;
  margin-right: 20px;
  position: relative;
  top: 20px; 
  padding-bottom: 20px;
}

.languages-img {
  float: right;
  margin-left: 20px;
  position: relative;
  top: 20px;
}

.skills-img {
  float: left;
  margin-right: 20px;
  padding-bottom: 50px;
  position: relative;
  top: 20px;
}

.me-img {
  width: 20%;
  margin-top: 3%;
}


/* FOOTER */

#contact {
  /* margin-top: 5%; */
  background-color: #ec4646;
  padding: 3% 15%;
  text-align: center;
}

.contact-btn {
  margin-top: 5%;
}

.icon-attributions {
  display: none;
}

#footer {
  background-color: #fff;
  color: black;
  font-size: 12px;
  font-weight: normal;
  padding: 7% 15%;
  text-align: center;
}
